<section
  class="relative min-h-screen flex items-center justify-center bg-gradient-to-b from-brand-background to-brand-background/80 pt-16 sm:pt-20 md:pt-24 lg:pt-16"
  aria-label="Hero Section"
  data-speed="0.5"
>
  <div class="container mx-auto px-4 md:px-6">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-24">
      <!-- Left Column - Text Content -->
      <div
        class="flex items-center md:items-start flex-col justify-center space-y-6 lg:space-y-8"
      >
        <h1
          #heroTitle
          class="text-4xl sm:text-4xl text-center md:text-start mt-8 md:mt-0 md:text-5xl lg:text-7xl font-bold text-transparent tracking-tight bg-gradient-to-r from-[#0abef2] to-[#576890] pb-3 bg-clip-text"
          data-speed="0.8"
        >
          <span class="block lg:hidden text-5xl">{{
            "HERO.TITLE_SMALL" | translate
          }}</span>
          <span class="block mt-4 lg:hidden">{{
            "HERO.TITLE" | translate
          }}</span>
          <span class="hidden leading-normal lg:block">{{
            "HERO.FULL_TITLE" | translate
          }}</span>
        </h1>
        <p
          #heroSubtitle
          class="text-base w-full text-center md:text-start sm:w-11/12 md:w-full sm:text-lg md:text-xl lg:text-2xl text-brand-gray-600 dark:text-brand-gray-400"
          data-speed="0.6"
        >
          {{ "HERO.SUBTITLE" | translate }}
        </p>
        <div #start class="flex items-center" data-speed="0.4">
          <div class="relative group">
            <button
              class="relative inline-block p-px font-semibold leading-6 text-white bg-gray-800 shadow-2xl cursor-pointer rounded-xl shadow-zinc-900 transition-transform duration-300 ease-in-out hover:scale-105 active:scale-95"
            >
              <span
                class="absolute inset-0 rounded-xl bg-gradient-to-r from-teal-400 via-blue-500 to-purple-500 p-[2px] opacity-0 transition-opacity duration-500 group-hover:opacity-100"
              ></span>

              <span
                class="relative z-10 block px-6 py-3 rounded-xl bg-gray-950"
              >
                <div class="relative z-10 flex items-center space-x-2">
                  <span
                    class="transition-all duration-500 group-hover:translate-x-1"
                    >{{ "HERO.GET_STARTED" | translate }}</span
                  >
                  <svg
                    class="w-6 h-6 transition-transform duration-500 group-hover:translate-x-1"
                    data-slot="icon"
                    aria-hidden="true"
                    [class.rotate-180]="multiLangService.currenLang() === 'ar'"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      clip-rule="evenodd"
                      d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                </div>
              </span>
            </button>
          </div>
        </div>
      </div>

      <div
        #heroImage
        class="relative flex items-center justify-center mt-8 lg:mt-0"
        data-speed="0.2"
      >
        <div
          class="relative w-full h-full overflow-hidden rounded-2xl bg-brand-gray-300 px-4 md:rounded-3xl md:px-6 md:pt-6 lg:aspect-[1296/670] lg:p-0"
        >
          <video
            [autoplay]="true"
            class="relative bottom-0 left-1/2 z-10 w-full h-full -translate-x-1/2 overflow-hidden rounded-t-lg lg:absolute lg:h-full"
            [loop]="true"
            [src]="'imgs/intro.mp4'"
            playsinline
            preload="auto"
          ></video>
          <!-- src="https://assets.basehub.com/191e7e6d/8ea9258a063943d01c1454f028b5294b/website-three-mp4.mp4" -->
        </div>
      </div>
    </div>
  </div>
</section>
