<!-- NAVBAR -->
<nav
  class="fixed z-50 w-full backdrop-blur-sm border-b shadow-lg"
  [ngClass]="{
    'bg-black bg-opacity-80 backdrop-blur-sm border-dark-border':
      isScrolled() && isDarkMode(),
    'bg-white bg-opacity-80 backdrop-blur-sm border-light-border':
      isScrolled() && !isDarkMode(),
    'bg-transparent border-transparent': !isScrolled()
  }"
>
  <div #navbar class="container box-border !max-w-[1672px] !pe-6 md:!px-9">
    <div
      class="relative flex bg-transparent w-full items-center justify-between rounded-lg border border-transparent p-2 transition-[box-shadow_background-color_border-color] duration-300 motion-reduce:transition-none lg:grid lg:grid-cols-[1fr_auto_1fr] lg:rounded-2xl lg:py-[0.4375rem] lg:pr-[0.4375rem]"
    >
      <!-- Logo -->
      <div #logo class="w-36 h-14 pb-2 relative -ml-0.5">
        <!-- [src]="isDarkMode() ? 'mgs/logo.svg' : 'imgs/logo.svg'" -->
        <img
          routerLink="/"
          fragment="hero"
          src="imgs/logo.svg"
          alt="{{ 'NAVBAR.LOGO_ALT' | translate }}"
          class="w-full h-full cursor-pointer"
        />
      </div>

      <!-- Navigation Links -->
      <ul
        class="col-start-2 gap-5 px-2 font-mono font-semibold uppercase -tracking-2 text-brand-neutrals-700 dark:text-brand-neutrals-200 xl:gap-6 hidden lg:flex"
        id="nav-menu"
      >
        <li class="nav-item">
          <a
            class="transition-colors duration-300 p-2 hover:text-brand-foreground rounded-md motion-reduce:transition-none"
            [class]="activeSection() === 'hero' ? 'active' : ''"
            routerLink="/"
            fragment="hero"
            >{{ "NAVBAR.HOME" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <!-- routerLink="services" -->
          <a
            class="transition-colors duration-300 p-2 hover:text-brand-foreground rounded-md motion-reduce:transition-none"
            routerLink="/"
            fragment="services"
            [class]="activeSection() === 'services' ? 'active' : ''"
            >{{ "NAVBAR.SERVICES" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="transition-colors duration-300 p-2 hover:text-brand-foreground rounded-md motion-reduce:transition-none"
            [class]="activeSection() === 'blog' ? 'active' : ''"
            routerLink="/"
            fragment="blog"
            >{{ "NAVBAR.BLOG" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="transition-colors duration-300 p-2 hover:text-brand-foreground rounded-md motion-reduce:transition-none"
            [class]="activeSection() === 'team' ? 'active' : ''"
            routerLink="/"
            fragment="team"
            >{{ "NAVBAR.TEAM" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="transition-colors duration-300 p-2 hover:text-brand-foreground rounded-md motion-reduce:transition-none"
            [class]="activeSection() === 'contact' ? 'active' : ''"
            routerLink="/"
            fragment="contact"
            >{{ "NAVBAR.CONTACT" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="transition-colors duration-300 p-2 hover:text-brand-foreground rounded-md motion-reduce:transition-none"
            [class]="activeSection() === 'faq' ? 'active' : ''"
            routerLink="/"
            fragment="faq"
            >{{ "NAVBAR.FAQ" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="transition-colors duration-300 p-2 hover:text-brand-foreground rounded-md motion-reduce:transition-none"
            [class]="activeSection() === 'pricing' ? 'active' : ''"
            routerLink="/"
            fragment="pricing"
            >{{ "NAVBAR.PRICING" | translate }}</a
          >
        </li>
      </ul>

      <!-- Right side actions -->
      <div
        class="col-start-3 hidden w-full justify-end gap-2 lg:flex items-center"
      >
        <!-- Theme Toggle -->
        <!-- <button
          (click)="toggleTheme()"
          class="bg-dark-bg dark:bg-light-bg border-dark-border dark:border-light-border text-dark-text dark:text-light-text hover:bg-dark-hover dark:hover:bg-light-hover relative flex items-center justify-center rounded-lg md:p-2"
          [attr.aria-label]="'NAVBAR.THEME_TOGGLE' | translate"
        >
          <span class="relative z-10 flex">
            <svg
              class="hidden dark:block h-5 w-5"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                clip-rule="evenodd"
              />
            </svg>
            <svg
              class="dark:hidden h-5 w-5"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
              />
            </svg>
          </span>
        </button> -->

        <!-- Language Toggle -->
        <button
          (click)="toggleLanguage()"
          class="bg-dark-bg dark:bg-light-bg font-semibold border-dark-border dark:border-light-border text-dark-text dark:text-light-text hover:bg-dark-hover dark:hover:bg-light-hover relative flex items-center justify-center rounded-lg md:py-1.5 px-2.5"
          [attr.aria-label]="'NAVBAR.LANGUAGE_TOGGLE' | translate"
        >
          <span class="relative z-10 flex">{{
            selectedLang() === "ar" ? "en" : "ar"
          }}</span>
        </button>

        <!-- Sign In Button -->

        <!-- Download Button -->
      </div>

      <!-- Mobile menu -->
      <div class="lg:hidden">
        <button
          #mobileMenuButton
          class="relative size-6 cursor-pointer"
          aria-expanded="false"
          aria-controls="mobile-menu"
          [attr.aria-label]="'NAVBAR.MENU' | translate"
          (click)="toggleMobileMenu()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
        </button>

        <!-- Mobile menu items -->
        <div #mobileMenu class="fixed inset-0 z-50 hidden backdrop-blur-sm">
          <div
            class="flex h-screen flex-col bg-black items-center justify-center space-y-8 p-4"
          >
            <button
              class="absolute right-6 cursor-pointer top-6 p-2"
              (click)="toggleMobileMenu()"
              [attr.aria-label]="'NAVBAR.CLOSE_MENU' | translate"
            >
              <svg
                class="size-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>

            <ul class="space-y-6 text-center w-full max-w-xs">
              <li class="mobile-menu-item">
                <a
                  (click)="toggleMobileMenu()"
                  class="block text-2xl font-semibold transition-colors hover:text-brand-foreground py-2"
                  [class.text-brand-foreground]="activeSection() === 'hero'"
                  routerLink="/"
                  fragment="hero"
                  >{{ "NAVBAR.HOME" | translate }}</a
                >
              </li>
              <li class="mobile-menu-item">
                <a
                  (click)="toggleMobileMenu()"
                  class="block text-2xl font-semibold transition-colors hover:text-brand-foreground py-2"
                  [class.text-brand-foreground]="activeSection() === 'services'"
                  routerLink="/"
                  fragment="services"
                  >{{ "NAVBAR.SERVICES" | translate }}</a
                >
              </li>
              <li class="mobile-menu-item">
                <a
                  (click)="toggleMobileMenu()"
                  class="block text-2xl font-semibold transition-colors hover:text-brand-foreground py-2"
                  [class.text-brand-foreground]="activeSection() === 'blog'"
                  routerLink="/"
                  fragment="blog"
                  >{{ "NAVBAR.BLOG" | translate }}</a
                >
              </li>
              <li class="mobile-menu-item">
                <a
                  (click)="toggleMobileMenu()"
                  class="block text-2xl font-semibold transition-colors hover:text-brand-foreground py-2"
                  [class.text-brand-foreground]="activeSection() === 'team'"
                  routerLink="/"
                  fragment="team"
                  >{{ "NAVBAR.TEAM" | translate }}</a
                >
              </li>
              <li class="mobile-menu-item">
                <a
                  class="block text-2xl font-semibold transition-colors hover:text-brand-foreground py-2"
                  [class.text-brand-foreground]="activeSection() === 'contact'"
                  routerLink="/"
                  fragment="contact"
                  >{{ "NAVBAR.CONTACT" | translate }}</a
                >
              </li>
              <li class="mobile-menu-item">
                <a
                  (click)="toggleMobileMenu()"
                  class="block text-2xl font-semibold transition-colors hover:text-brand-foreground py-2"
                  [class.text-brand-foreground]="activeSection() === 'faq'"
                  routerLink="/"
                  fragment="faq"
                  >{{ "NAVBAR.FAQ" | translate }}</a
                >
              </li>
              <li class="mobile-menu-item">
                <a
                  (click)="toggleMobileMenu()"
                  class="block text-2xl font-semibold transition-colors hover:text-brand-foreground py-2"
                  [class.text-brand-foreground]="activeSection() === 'pricing'"
                  routerLink="/"
                  fragment="pricing"
                  >{{ "NAVBAR.PRICING" | translate }}</a
                >
              </li>
            </ul>

            <!-- Mobile theme and language toggles -->
            <div class="flex gap-4 mt-8">
              <!-- <button
                (click)="toggleTheme()"
                class="bg-dark-bg dark:bg-light-bg border-dark-border dark:border-light-border text-dark-text dark:text-light-text hover:bg-dark-hover dark:hover:bg-light-hover p-2 rounded-lg"
                [attr.aria-label]="'NAVBAR.THEME_TOGGLE' | translate"
              >
                <svg
                  class="hidden dark:block h-5 w-5"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                    clip-rule="evenodd"
                  />
                </svg>
                <svg
                  class="dark:hidden h-5 w-5"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
                  />
                </svg>
              </button> -->

              <button
                (click)="toggleLanguage()"
                class="bg-dark-bg dark:bg-light-bg border-dark-border dark:border-light-border text-dark-text dark:text-light-text hover:bg-dark-hover dark:hover:bg-light-hover py-2 px-3 rounded-lg"
                [attr.aria-label]="'NAVBAR.LANGUAGE_TOGGLE' | translate"
              >
                <span class="text-sm font-semibold">{{
                  selectedLang() === "ar" ? "ar" : "en"
                }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
